* {
  margin: 0;
  padding: 0;
}

#bmi {
  width: 20em;
  margin: auto;
}
#bmi-result {
  width: 100%;
  margin: 10px auto;
  transition: 1s;
  margin-left: -5000px;
}

#yourBmi {
  background-color: #000;
  color: #fff;
  padding: 1em;
  border-radius: 10px;
}
#bmiCondition {
  background-color: pink;
  color: #000;
  padding: 1em;
  border-radius: 10px;
}
#weightCond {
  background-color: orange;
  border-radius: 10px;
  color: #fff;
  padding: 1em;
}
